body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.react-datepicker--time-only .react-datepicker__time-container {
  width: 150px;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 0;
}
.react-datepicker__time-list,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box,
.react-datepicker__time-container,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  padding-right: 90px !important;
}
